body {

  background-image: url("../figuras/fondoo.png");
  background-size: cover;
     
}

/*Creamos la clase 'center' de forma que podamos centrar, por ejemplo, las tablas de nuestras p치ginas*/

.center{

	margin-left: auto;
	margin-right: auto;
}
left{

	margin-left: 50%;
	margin-right: 50%;
}

/*Le damos formato a los encabezados H*, p치rrafos y vi침etas */
h1 {
  font-weight: bold;
  text-align: center;  
  font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
  color: Tomato;
  
}

h2 {

  font-weight: bold;
  text-align: left;  
  font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
  color: Tomato	;

}

p, ul {

  font-family: Verdana, Helvetica, sans-serif;
  color: #000;
  font-size: 24px; 

}


/*Le damos formato a los pies de imagen*/
figcaption {text-align: center;}


/*Le damos formato a las im치genes*/
img {
  
  display: block;
  width: 100px;
  height: 100px;

}
table {
  width: 15px;
  height: 15px;
}
table {
  width: 15px;
  height: 15px;
}
